@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #06060a;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #06060a;
}
::-webkit-scrollbar-thumb {
  background: #2a2a35;
  border-radius: 8px;
}